#login_button{
    width:100px;
    color: darkblue;
    background-color: aqua;
}
body{
    text-align: center;
    background-color: cornflowerblue;
}
div{
    width: 200px;
    text-align: center;
}